@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply min-h-screen;
}

body {
  @apply bg-teal-500 w-auto;
  color: black;
}

button {
  @apply bg-white p-2 border-b-4 border-black;
}

main {
  @apply px-4 md:px-6 py-4;
}

nav {
  @apply bg-white border-black;
}

.stretch {
  display:inline-block;
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
  transform:scale(1,2); /* W3C */
}