@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply min-h-screen;
}

body {
  @apply bg-orange-100 w-auto;
}

button {
  @apply bg-red-400 px-6 py-4 border-b-4 border-red-600 hover:scale-105 transition-all text-orange-100;
}

main {
  @apply px-4 md:px-6 py-4;
}

nav {
  @apply bg-red-400 border-red-600 text-orange-50;
}

.stretch {
  display:inline-block;
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
  transform:scale(1,2); /* W3C */
}