@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply min-h-screen;
}

body {
  @apply bg-orange-100 w-auto;
}

button {
  @apply bg-red-400 px-6 py-2 border-b-4 border-red-600 hover:scale-[101%] transition-all text-orange-100;
}

img {
}

main {
  @apply px-4 md:px-6 py-4;
}

nav {
  @apply bg-red-400 border-red-600 text-orange-50;
}

nav a {
  text-shadow: 0em 0.1em 0px rgb(113, 9, 9); 
}

.stretch {
  display:inline-block;
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
  transform:scale(1,2); /* W3C */
}

.text-shadow {
  text-shadow: -0.05em 0.05em 0px rgb(113, 9, 9); /* horizontal offset, vertical offset, blur radius, shadow color */
}

.text-shadow-2 {
  text-shadow: -0.05em 0.05em 0px rgb(239 68 68); /* horizontal offset, vertical offset, blur radius, shadow color */
}

.text-shadow-3 {
  text-shadow: -0.05em 0.05em 0px white; /* horizontal offset, vertical offset, blur radius, shadow color */
}

.background{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.zIndex1{
  z-index: 1;
}
